[Service]
Environment=SHADE_TREE_STAKE_MODE=onchain
Environment=SHADE_TREE_GATEWAY_REGISTRY={{ shade_tree_deployment.elder.gatewayRegistry }}
Environment=SHADE_TREE_RPC_URL={{ shade_tree_rpc_url }}


